---
import Card from "../components/Card.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Min Første Astro side</h1>
	<Card header="overskrift" beskrivelse="beskrivelse"/>
	<Card header="overskrift1" beskrivelse="beskrivelse1"/>
</body>
</html>
